.nav-txt {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  list-style-type: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 10px;
  text-decoration: none;
}

.nav-txt-2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  list-style-type: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 10px;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #91FCDC;
}

a.hover {
  color: bisque;
}

.nav-txt:hover {
  text-shadow: 0px 4px 4px, rgba(0, 0, 0, 0.25);
  color: #e52e71;
}

.title {
  color: #E5E5E5;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 84px;
  line-height: 102px;
  letter-spacing: -2px;
}

.text {
  color: white;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 34px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 574px;
  margin-bottom: 45px;
}

.footer-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  padding-left: 15px;
  padding-right: 50px;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
}
.footeremail {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  padding-left: 15px;
  padding-right: 50px;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .footeremail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
}
h2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #91FCDC;
  letter-spacing: 0.05em;
}

p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 10px;
    color: #91FCDC;
  }
}
.textarea {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.05em;
  background-color: #91FCDC;
  border-radius: 5px;
  border-style: none;
}

@media (max-width: 768px) {
  .textarea {
    display: none;
  }
}
.bookinginfo {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.05em;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .bookinginfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
    color: #91FCDC;
  }
}
h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #91FCDC;
}

h4 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 35px;
  color: white;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .h4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #91FCDC;
  }
}
.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #91FCDC 0%, white 29%, white 67%, #91FCDC 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2s linear infinite;
          animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 50px;
}

@media (max-width: 768px) {
  .animate-character {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #91FCDC;
  }
}
@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.reactive-p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .reactive-p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: #91FCDC;
  }
}
.project-txt {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .project-txt {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
    color: #91FCDC;
  }
}
.light {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 35px;
  color: #91FCDC;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #91FCDC;
  }
}
.test-header {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #91FCDC;
}

@media (max-width: 768px) {
  .test-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: #91FCDC;
  }
}