.header {
    display: flex;
    flex-direction: row;
    max-height: 40px;
    max-width: 100%;
    width: 100%;
    justify-content: flex-end; 
    background-color: #0d192e;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-right: 50px;
    border-bottom: 5px solid #e52e71; 
}
  
.header-txt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 276px;
    width: 100%;
    max-height: 25px;
    list-style: none;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .header {
        justify-content: center; 
        margin-right: 0; 
        padding: 0px;
    }

    .header-txt {
        justify-content: center;
        max-width: 100%; 
    }

    .header-txt a {
        font-size: 14px;
    }
}
