body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #66615F;
}

/* MAIN -- SECTION INFO */

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAIN -- SECTION squares */

.containertwo {
    display: flex;
    flex-direction: row;
}

.containerthree {
    width: 50%;
    margin-right: 50px;
    margin-left: 35px;
}

.containersquare {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.square {
  border: 5px solid #D8F2B8;
  border-radius: 10px;
  margin-bottom: 10px; 
}

.img-border {
  background-color: #D8F2B8;
  padding: 15px;
}

.img-border:hover {
  opacity: 50%;
}


/* media queries */